@model TechSPO.Models.User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css"/>
</head>

<body>
    <header style="margin-top: 200px; position: relative;">
        <img src="~/image/Heading Left.png" alt="Header Image" style="width: 100%;" />
        <img src="~/image/R pink.png" alt="Back button Image" style="width: 60px; height: auto; position: absolute; top: 10px; left: 40px;" />
    </header>
    <div class="container">
        
        <div class="login-section">

            <h4>Login</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Login" asp-controller="LoginandRegister">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordHash" class="control-label"></label>
                            <input asp-for="PasswordHash" type="password" class="form-control" />
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Register">Register</a>
            </div>
        </div>
    </div>
 

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
